@model ICollection<Musteri>

<h2>Müşteriler</h2>
<a href="@Url.Action("Create")" class="btn btn-primary">Müşteri Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Eposta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <td>@musteri.Id</td>
                <td>@musteri.Ad</td>
                <td>@musteri.Soyad</td>
                <td>@musteri.Eposta</td>
                <td>
                    <a href="@Url.Action("Delete",new{id=musteri.Id})" class="btn btn-danger">Sil</a>
                    <a href="@Url.Action("Edit",new{id=musteri.Id})" class="btn btn-success">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>